# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.env

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Node modules 
node_modules/

# Log files
*.log

# Python environment files
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# JSON objects (Run locally)
articles.json

#temp files
tempTestSummary.js