* {
    box-sizing: border-box;
    font-family: 'Open Sans', 'Roboto', Arial, sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
*::selection {
    color: inherit;
    background: rgba(59, 130, 246, 0.6);
    text-decoration-color: none;
}
body {
    min-height: 100vh;
    background: light-dark(rgb(228, 225, 218), rgb(12, 12, 12));
    color: #1a1a1a;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
:root {
    color-scheme: light dark;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 64px;
    background: light-dark(rgb(228, 225, 218), rgb(12, 12, 12));
    z-index: 1000;
    padding: 0 40px 0 24px;
}

.nav-title {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.15em;
    color: light-dark(black, white);
}
.nav-btn {
    background: light-dark(rgb(12, 12, 12), rgb(198, 198, 198));
    color: light-dark(rgb(255, 255, 255), rgb(0, 0, 0));
    border: none;
    border-radius: 12px;
    padding: 12px 32px;
    cursor: pointer;
    margin-left: 30px;
    box-shadow: 0 2px 8px rgba(99, 102, 241, 0.08);
    transition:
        background 0.2s,
        transform 0.2s;
}
.nav-btn:hover {
    background: rgb(40, 40, 40);
}

.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}
.nav-link {
    margin-left: 16px;
    margin-right: 16px;
    color: black;
    font-weight: 400;
    color: light-dark(black, white);
}
.nav-link:hover {
    text-decoration: underline;
    text-decoration-thickness: 1.2px;
    text-underline-offset: 2.5px;
}

.spacer {
    position: relative;
    width: 100%;
    height: 40px;
    margin-top: 64px;
}
.dark-mode {
    background: black;
    color: #fff;
    border: none;
    border-radius: 12px;
    padding: 6px 12px;
    cursor: pointer;
    margin-left: 30px;
    box-shadow: 0 2px 8px rgba(99, 102, 241, 0.08);
    transition:
        background 0.2s,
        transform 0.2s;
}
.dark-mode:hover {
    background: rgb(40, 40, 40);
}

.page-container {
    display: grid;
    grid-template-columns: 1fr 400px;
    gap: 24px;
    padding: 0 24px;
}

.article-grid {
    display: grid;
}
.article {
    background-color: light-dark(rgb(255, 255, 255), rgb(77, 76, 72));
    position: relative;
    display: flex;
    flex-flow: row;
    margin-bottom: 16px;
}

.article-image {
    width: 160px;
    height: 90px;
    object-fit: cover;
    margin-right: 16px;
}
.article-wrapper {
    position: relative;
    background-color: light-dark(rgb(255, 255, 255), rgb(77, 76, 72));
    padding: 16px;
    border-radius: 10px;
    width: 100%;
    max-width: 1000px;
}
.article-wrapper p {
    color: light-dark(rgb(255, 255, 255), rgb(210, 210, 210));
}
.article-preview {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    row-gap: 20px;
}
.article-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
}
.article-title {
    font-size: 20px;
    margin-bottom: 16px;
    margin-top: 2px;
}
.article-credit,
.article-date {
    font-size: 16px;
    margin-bottom: 6px;
    font-weight: 400;
}
.article-summary {
    font-weight: 200;
}

.watch-list {
    position: sticky;
    top: 120px;
    height: calc(100vh - 120px);
    overflow-y: auto;
    border-radius: 10px;
    background-color: #1e293b;
    z-index: 100;
}
.watch-list-title {
    font-size: 30px;
    text-align: center;
    padding: 16px;
}
.watch-list-item {
    position: relative;
    background-color: #334155;
    margin-right: 16px;
    margin-left: 16px;
    height: 100px;
    margin-bottom: 16px;
}
